
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    line-height: 1.5;
    color: #2a2a2a;
}

img {
    display: block;
    height: 250px;
    max-width: 100%;
    margin-right: 15px;
} 

.search-form {
    display: flex;
    justify-content: center;
    padding: 8px;
    margin-bottom: 24px;
}

.load-more {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.load-more.is-hidden {
    display: none;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
  justify-content: center;
}

a {
    text-decoration: none;
    color: #2a2a2a;
}

.submit-btn {
    margin-left: 10px;
}